{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SharpMD</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/boostrap-custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {# Load the tag library #}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">SharpMD</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{%  url 'ingester:search' %}">Publications</a></li>
          <li><a href="#">Authors</a></li>
        </ul>
      </div>
    </nav>
    {% block main_content %}
        Empty Page
    {% endblock %}
</body>
</html>