

{% block content %}
{% load static %}
    {# Load the tag library #}
{% load bootstrap3 %}
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<div class="container">
  <h2 id="obj_title">{{ object.publication.title }}</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Overview</a></li>
    <li><a data-toggle="tab" href="#ref_menu">References</a></li>
    <li><a data-toggle="tab" href="#source_menu">Sources</a></li>
    <li><a data-toggle="tab" href="#edit_menu">Edit</a></li>
  </ul>

  <div class="tab-content">

    <div id="home" class="tab-pane fade in active">
        <p id="obj_abstract">
          <h4>Abstract</h4>
          {{ object.publication.abstract|default_if_none:" <i>not available </i>"}}
        </p>
        <p id="obj_authors">
            <h4>Authors</h4>
            {% for author in object.authors.all%}
                {{ author.main_name }},
            {% endfor%}
        </p>
        <p id="obj_medium">
            <h4>Publication Medium</h4>
            <b>Type: </b> {{ object.type.name }} <br/>
            <b>Publication Date: </b>{{ object.publication.date_published|date:"Y"|default_if_none:" <i>not available </i>" }}<br/>
            <b>Name: </b> {{ object.medium.main_name|default_if_none:" <i>not available </i>" }} <br/>
            <b>Volume:</b> {{ object.publication.volume|default_if_none:" <i>not available </i>" }} <br />
            <b>Number:</b> {{ object.publication.number|default_if_none:" <i>not available </i>" }} <br/>
            <b>Pages:</b> {{ object.publication.pages|default_if_none:"<i>not available</i>" }}
        </p>
        <p id="obj_keywords">
            <h4>Keywords</h4>
        </p>
        <p id="obj_misc">
            <h4>Miscellaneous</h4>
            <b>Note:</b> {{ object.publication.note|default_if_none:" <i>not available </i>" }} <br />
            <b>Date added: </b> {{object.publication.date_added|date:"d-m-Y"|default_if_none:"<i>not available</i>" }}
        </p>
    </div>


    <div id="ref_menu" class="tab-pane fade">
        TODO
    </div>
    <div id="source_menu" class="tab-pane fade">
       {% for source in sources%}
            <div>
                <h3><a href="{{ source.source.url }}">{{ source.source.domain }}</a> </h3>
                <p class="well">
                {% for key, values in source.items %}
                    {% if key != 'source' %}
                        {{ key }}: {{ values.value }} <br/>
                    {% endif %}

                {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
    <div id="edit_menu" class="tab-pane fade">
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
{% endblock %}
