
{% block content %}
{% load static %}
    {# Load the tag library #}
{% load bootstrap3 %}
{% load pagination_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
    <h2>Publications</h2>
 <form method="get">
    <div class="well">
            {{ filter.form }}
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
        <a href="{% url 'ingester:search'  %}" class="btn btn-default">Reset</a>
    </div>
  </form>


<div class="row">
 <div id= "content-col" class="col-md-offset-1 col-md-6">
    {% autopaginate filter.qs 10 as filter_list %}
    {% for url in filter_list %}
            <div class="panel panel-primary">
                <div class="panel-heading" >
                    <span class="publication-date">{{ url.publication.date_published|date:"Y" }}</span>
                    <span class="publication-title">{{ url.publication.title }}</span>
                </div>
                <div class="panel-body">
                    By{% for author in url.authors.all%} {{ author.main_name }},{% endfor%}<br/>
                    Published in : <span class="publication-medium">{{ url.medium.main_name}}</span>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
 <div id="pagination-col" class="col-md-offset-1 row col-md-6">
 {% paginate %}
</div>
{% endblock %}
