

{% block content %}
{% load static %}
    {# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
    <h2>Publications</h2>
            <button type="submit" class="btn btn-danger">
            {% bootstrap_icon "star" %} Submit
        </button>
    <div>
        <div id= "content-col" class="col-md-5">
        {% for url in object_list %}
            <div class="panel panel-primary">
                <div class="panel-heading" >
                    <span class="publication-date">{{ url.url}}</span>
                    <span class="publication-date">{{ url.medium.main_name}}</span>
                    <span class="publication-date">{{ url.medium.main_name}}</span>
                    <span class="publication-date">{{ url.type.name}}</span>
                </div>
                <div class="panel-body">
                </div>
            </div>
        {% endfor %}
         </div>
    </div>

    {% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <a href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}
