tailer
celery
sqlalchemy
django
sickle
unidecode
nameparser
msgpack-python
django-celery-beat
django-celery-results
django-admin-row-actions
lxml
jsonfield
mysqlclient
requests
django-extensions
pymysql
many-stop-words
python-Levenshtein
django-pagination-bootstrap
django-filter
django-bootstrap3
django-jquery